<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SocketUrl" value="wss://socket.ryxex.com/socket.io/?transport=websocket" />
    <add key="Provider" value=" https://mainnet.infura.io/GxiQX2aLNKrlJJH0mRZe"/>
    <add key="AddressRyxEx" value="0x56a20f5c2ad2d88d635783780a7a1ad0e50df492" />
    <add key="AbiFile" value="../contracts/ryxex.json" />
    <add key="TokenFile" value="../contracts/token.json" />
    <add key="Token" value="0x86fa049857e0209aa7d9e616f7eb3b3b78ecfdb0" />
    <add key="User" value="0x00e5894dB35FbaEe76732aa5eed712BA67E90662" />
    <add key="PrivateKey" value="1234567891234567891234567891234567891234567891234567891234567890" />
    <add key="UnitDecimals" value="18" />
    <add key="GasPrice" value="1000000000" />
    <add key="GasLimit" value="250000" />
  </appSettings>
</configuration>