<blockquote>
  <p>Celsius is a new global P2P financial platform that will seamlessly connect holders of crypto-assets with borrowers. It will allow crypto-holders to earn interest on their assets in the form of coins, or get a cash loan against their crypto.</p>
  <footer><a href="https://celsius.network/" target="_blank">https://celsius.network/</a></footer>
</blockquote>
