<blockquote>
  <p>Universal Blockchain for apps/enterprises: crypto protocol 1000x faster than Bitcoin/Ether, 1000x cheaper, zero-knowledge cryptography. Faster Transactions. Smarter Contracts. Fully Customizable Blockchain.</p>
  <footer><a href="https://universa.io/" target="_blank">https://universa.io/</a></footer>
</blockquote>
