<blockquote>
  <p>voBits (VBS) Token is a liquidity ERC20 token on the Ethereum network for the voBits.github.io exchange community.</p>
  <footer><a href="https://voBits.github.io/" target="_blank">https://voBits.github.io/</a></footer>
</blockquote>
